
<!-- home.handlebars -->

<div class="front-page">
        <div class="paragraph">
            <h4>
                <i>Connecting the Human Brain.</i>
            </h4>
            <div class="split">
                <p>
                    "We are a team of scientist and engineers that are trying to unlocked the true potential of the human brain, and are performing research on how neurotechnology can be adapted to the Brain Machine Interface (BMI)."
                </p>
                <img src="/assets/brain.png" alt="brain">
            </div>
            <h4 id="more">
                <a href="/more"><i>More...</i></a>
            </h4>
        </div>
</div>
