
<!-- home.handlebars -->

<div class="front-page">
        <div class="paragraph">
            <div class="more">
                <p>
                    "We are a team of scientist and engineers that are trying to unlocked the true potential of the human brain, and are performing research on how neurotechnology can be adapted to the Brain Machine Interface (BMI)."
                </p>

                <p>
                    "Innovation has sparked development in many different areas during this last century, but a field that has been lacking in progress, is the human brain."
                </p>

                <p>
                    "We are trying to simplify computer to brain interaction and develop new non-invasive techniques to access the human mind, to study and enhance human cognition."
                </p>
            </div>
        </div>
</div>
